<div class="h-100 p-5 text-light bg-success rounded-3">
          <div class="text-center">
          <h2>FishHuntStore</h2>
          <p>Welcome! Please Browse our Products!</p>
          </div> <!-- .text-center-->
          <div class="text-center">
          <button class="btn btn-warning btn-outline-light" type="button"><a href="/products">Take me there!</a></button>
          </div><!--.text-center-->
        </div>
        <div class="m-5"></div>
<!-- Fishing card -->
<div class="card text-center">
  <div class="text-center">
  <img class="card-img-top" src="../images/sticker-mule.jpg" alt="free image from sticker mule" style="width: 400px; height:200px;">
  <div class="card-body">
      <a href="https://unsplash.com/@stickermule?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sticker Mule</a> on <a href="https://unsplash.com/s/photos/fishing?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    <h1 class="card-title">Fishing Necessities</h1>
    <p class="card-text">We carry all the brand name fishing companies (Rapala,Shimano,EagleClaw,Shakespeare,Ugly Stik) and more!</p>
    <a href="#" class="btn btn-primary">Fishing</a>
  </div>
</div><!-- .text-center -->
</div>
<!-- Hunting Card -->
<div class="card text-center">
  <div class="text-center">
      <!--https://unsplash.com/photos/PXGvsl0jQcE free image from nicolas durbaum-->
  <img class="card-img-top" src="../images/nicolai-durbaum.jpg" alt="free image from nicolas durbaum" style="width: 400px; height:200px;">
  <div class="card-body">
      Photo by <a href="https://unsplash.com/@nicoli?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Nicolai  Dürbaum</a> on <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  
    <h1 class="card-title">Hunting Gear</h1>
    <p class="card-text">Lots of quality hunting gear for sale from brands like (Cabelas,BassPro,Excalibur,Vortex) and more!</p>
    <a href="#" class="btn btn-primary">Hunting</a>
  </div>
</div><!-- .text-center -->
</div>
<!--Camping Card -->
<div class="card text-center">
  <div class="text-center">
  <img class="card-img-top" src="../images/scott-goodwill.jpg" alt="Card image cap" style="width: 400px; height:200px;">
  <div class="card-body">
        <a href="https://unsplash.com/@scottagoodwill?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Scott Goodwill</a> on <a href="https://unsplash.com/s/photos/camping?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    <h1 class="card-title">Camping Supplies</h1>
    <p class="card-text">We carry lots of tents and camping supplies for the solo adventurer all the way up to the most experienced!</p>
    <a href="#" class="btn btn-primary">Camping</a>
  </div>
</div><!-- .text-center -->
</div>
        
<!--File upload -->
{{!-- <h2>File upload</h2>
<form method="POST" action="/" enctype="multipart/form-data">
<input type="file" name="file" />
<input type="submit" value="Upload"/>
</form> --}}
