<h1>Create Category</h1>
<form method="post">
    <fieldset>
        <label for="categoryName" class="col-2">categoryName:</label>
        <input name="categoryName" id="categoryName">
    </fieldset>
    <button class="offset-3 btn btn-primary">Create</button>
</form>