<h1>Create Category</h1>
<form method="post">
    <fieldset>
        <label for="category" class="col-2">Name:</label>
        <input name="name" id="category">
    </fieldset>
    <button class="offset-3 btn btn-primary">Create</button>
</form>